name: jellyflix
description: "Another Jellyfin client for Android, iOS, Windows, macOS, Linux and Web."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: "none"

version: 00.00.00+0

environment:
  sdk: ">=3.5.4 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  tentacle:
    git: https://github.com/TentacleOrg/Tentacle.git
  media_kit:
    git:
      url: https://github.com/jellyflix-app/media-kit.git
      ref: main
      path: ./media_kit
  media_kit_video:
    git:
      url: https://github.com/jellyflix-app/media-kit.git
      ref: main
      path: ./media_kit_video
  media_kit_libs_video:
    git:
      url: https://github.com/jellyflix-app/media-kit.git
      ref: main
      path: ./libs/universal/media_kit_libs_video
  path_provider: ^2.1.1
  universal_platform: ^1.0.0+1
  url_launcher: ^6.2.1
  hooks_riverpod: ^2.4.9
  flutter_hooks: ^0.20.3
  riverpod_annotation: ^2.3.3
  flutter_secure_storage: ^9.2.3
  permission_handler: ^11.1.0
  filter_list:
    git: https://github.com/TheAlphamerc/filterlist.git
  built_collection: ^5.1.1
  dots_indicator: ^3.0.0
  go_router: ^13.0.0
  skeletonizer: ^0.8.0
  cached_network_image: ^3.3.1
  flutter_blurhash: ^0.8.2
  flutter_downloader: ^1.11.6
  dio: ^5.4.0
  device_info_plus: ^9.1.1
  package_info_plus: ^8.1.0
  flutter_localizations:
    sdk: flutter
  intl: any
  async: ^2.11.0
  universal_io: ^2.2.2
  connectivity_plus: ^6.1.0
  transparent_image: ^2.0.1
  hive: ^2.2.3
  hive_flutter: ^1.1.0
  logger: ^2.5.0
  markdown: ^7.3.0
  flutter_widget_from_html_core: ^0.15.2

dependency_overrides:
  flutter_secure_storage_web: ^2.0.0-beta.2
  media_kit:
    git:
      url: https://github.com/jellyflix-app/media-kit.git
      ref: main
      path: ./media_kit
  media_kit_video:
    git:
      url: https://github.com/jellyflix-app/media-kit.git
      ref: main
      path: ./media_kit_video
  media_kit_libs_video:
    git:
      url: https://github.com/jellyflix-app/media-kit.git
      ref: main
      path: ./libs/universal/media_kit_libs_video
  media_kit_libs_ios_video:
    git:
      url: https://github.com/jellyflix-app/media-kit.git
      ref: main
      path: ./libs/ios/media_kit_libs_ios_video
  media_kit_libs_macos_video:
    git:
      url: https://github.com/jellyflix-app/media-kit.git
      ref: main
      path: ./libs/macos/media_kit_libs_macos_video
  media_kit_libs_windows_video:
    git:
      url: https://github.com/jellyflix-app/media-kit.git
      ref: main
      path: ./libs/windows/media_kit_libs_windows_video
  media_kit_libs_android_video:
    git:
      url: https://github.com/jellyflix-app/media-kit.git
      ref: main
      path: ./libs/android/media_kit_libs_android_video

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
  riverpod_generator: ^2.3.9
  build_runner: ^2.4.7
  custom_lint: ^0.5.7
  riverpod_lint: ^2.3.7
  flutter_launcher_icons: "^0.13.1"
  hive_generator: ^2.0.1

flutter:
  uses-material-design: true
  generate: true

flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  remove_alpha_ios: true
  image_path: "assets/icon/icon.png"
  min_sdk_android: 21 # android min sdk min:16, default 21
  web:
    generate: true
    image_path: "assets/icon/app_icon.png"
    background_color: "#000000"
    theme_color: "#673AB7"
  windows:
    generate: true
    image_path: "assets/icon/app_icon.png"
    icon_size: 256 # min:48, max:256, default: 48
  macos:
    generate: true
    image_path: "assets/icon/macOS_icon.png"
